<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snsstudy.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @snsstudy.introduction %>
</p>




<div class="stats">

    <strong id="following" class="stat">
      <%= @snsstudy.followed_users.count %>
    </strong>


    following
  </a>

    <strong id="followers" class="stat">
      <%= @snsstudy.followers.count %>
    </strong>
    followers
  </a>
</div>

<!--<p><%= debug(@snsstudy.relationships.inspect) %></p>
<p>
<% @relation.each do |rel| %>
<%= rel.follower_id %>
<% end %>
</p>
<%= debug(@relation.inspect) %>


<p>
<% if @snsstudy.id == "1" then %>
自分ではありません。
<% else %>
自分<%= @snsstudy.id %>です。
<% end %>
</p>


<% writers = ['1', '2', '3'] %>
<p>
<% writers.each do |writer| %>
<% if writer == "1" then %>
自分ではありません。
<% else %>
<%= writer %>さん。
<% end %>
<% end %>
</p>

<% writers = ['1', '2', '3'] %>
<p>
<% writers.each do |writer| %>
<% if writer != "1" then %>
<%= writer %>さん。
<% end %>
<% end %>
</p>-->


<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Introduction</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @snsstudies.each do |snsstudy| %>

      <% if snsstudy.id != @snsstudy.id then %>
      <tr>
        <td><%= snsstudy.name %></td>
        <td>OTHER ID=<%= snsstudy.id %></td>
        <td>MY ID=<%= @snsstudy.id %></td>

        <td>
        <!-- build　自分のIDをrelationshipsのfollower_idに　　-->
         <%= form_for(@snsstudy.relationships.build(followed_id: snsstudy.id)) do |f| %>
         <div><%= f.hidden_field :followed_id %></div>
         <div><input id="snsstudy_id" name="snsstudy[id]" value="<%= @snsstudy.id %>"  type="hidden" /></div>
         <div><input id="follower_id" name="relationships[follower_id]" value="<%= @snsstudy.id %>"  type="hidden" /></div>
         <div><input id="followed_id" name="relationships[followed_id]" value="<%= snsstudy.id %>"  type="hidden" /></div>
         <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
         <% end %></td>

         <td>
         

         </td>
      </tr>
      <% end %>
      
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_snsstudy_path(@snsstudy) %> |
<%= link_to 'Back', snsstudies_path %>
