<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snsstudy.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @snsstudy.introduction %>
</p>

<%= link_to 'Edit', edit_snsstudy_path(@snsstudy) %> |
<%= link_to 'Back', snsstudies_path %>
